.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    padding: 3rem 2rem;
}

.texts {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    text-align: left;

    font-size: 1.1rem;
    line-height: 1.5;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;

    & > img {
        max-width: 100%;
        /* max-height: 75%; */

        border-radius: var(--s-radius);
    }
}