.container {
  overflow: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}

.table .header th {
  background-color: var(--c-surface-tint);
  padding: 0.5rem 1rem;

  width: min-content;

  border-right: 1px solid var(--c-surface);
}

.table .header th:first-child {
  border-radius: var(--s-radius) 0 0 var(--s-radius);
}

.table .header th:last-child {
  border-radius: 0 var(--s-radius) var(--s-radius) 0;
  border-right: none;
}

.table .row > * {
  border-bottom: 1px solid var(--c-outline);
  padding: 0.35rem;
}

.table .row td:first-child {
  background-color: var(--c-surface);
  color: var(--c-surface-text);
}

.table .row td:first-child,
.table .header th:first-child {
  position: sticky;
  left: 0;
  z-index: 5;
  /* width: 100%; */
  min-width: 200px;
}

.table .row:last-child > * {
  border-bottom: none;
  padding-bottom: 0;
}

.success {
  color: var(--c-success);
  font-size: 1.4rem;
}

.optional {
  color: var(--c-warning);
  font-size: 1.2rem;
}

.missing {
  color: gray;
  font-size: 1.4rem;
}
